html {
  min-height: 100%;
  background-attachment: fixed;
}

/* Base styles */
body {
  /* font-family: Arial, sans-serif; */
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  /* Prevent horizontal overflow */
  position: relative;
}

.navbar{
  padding: 1vw 3vw;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #f9f9f9d7;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-icon {
  height: 40px;
}

.nav-menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin: 0 15px;
}

.nav-link {
  color: #00071a;
  text-decoration: none;
}

.cta-button {
  background: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.section-1 {
  flex: 1;
}

.section-2 img {
  max-width: 100%;
  height: auto;
}

/* Services Section */
.services {
  padding: 20px;
}

.services-top {
  text-align: center;
}

.services-top h1 {
  font-size: 2.5em;
}

.services-top h2 {
  font-size: 1.2em;
  margin: 10px 0;
}

.proposal-btn {
  padding: 10px 20px;
  font-size: 1em;
  background-color: #00071a;
  /* background-color: #007bff; */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.services-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.service-card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 10px;
  padding: 15px;
  width: calc(25% - 40px);
  /* 4 cards per row */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
}

.service-card:hover {
  transform: scale(1.05);
}

.service-card img {
  max-width: 100%;
  /* height: auto; */
}

/* Responsive styles */
@media (max-width: 1200px) {
  .hero-section {
    display: flex;
    justify-content: space-evenly;
  }
  .service-card {
    width: calc(33.33% - 40px);
    /* 3 cards per row */
  }

  /* .service-card img{
        display: none;
    } */
}

@media (max-width: 900px) {
  /* .hero-section {
        gap: 30px;
        flex-direction: column;
        text-align: center;
    }
    .hero-section .section-1 h1 {
        font-size: 1.5rem;
    }

    .hero-section .section-2 img {
        height: 80%;
        width: 80%;
    } */
  .service-card {
    width: calc(50% - 40px);
    /* 2 cards per row */
  }
  .head-container-circle {
    display: block;
  }
}

@media (max-width: 600px) {
  .mobile-menu.active {
    left: 0;
  }
  .navbar-content{
    align-items: flex-end;
  }

  .hamburger {
    width: 34px;
  height: 34px;
    position: absolute;
    right: 0;
    top: 34%;
    margin-right: 20px;
  }

  .service-card {
    width: calc(100% - 40px);
    /* 1 card per row */
  }

  .services-top h1 {
    font-size: 2em;
  }

  .services-top h2 {
    font-size: 1em;
  }

  .proposal-btn {
    width: 100%;
    font-size: 0.9em;
  }

  .hero-section {
    gap: 30px;
    flex-direction: column;
    text-align: center;
  }
  .hero-section .section-1 h1 {
    font-size: 1.5rem;
  }

  .hero-section .section-2 img {
    height: 80%;
    width: 80%;
  }

  /* .section-2 img {
        width: 100%;
        height: auto;
    } */

  .nav-menu {
    flex-direction: column;
    align-items: center;
  }

  .nav-item {
    margin: 10px 0;
    display: none;
  }

  .mobile-menu {
    display: block;
    /* Show mobile menu */
  }

  .mobile-menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

  .mobile-nav-list {
    list-style: none;
    padding: 0;
  }

  .mobile-nav-link {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #f9f9f9;
  }

  .head-container-circle {
    display: block;
  }

  .team-container {
    flex-direction: column;
    align-items: center;
  }

  .team-member {
    margin: 10px 0;
  }
  .team-members h2 {
    margin-bottom: 1rem;
  }
  .arrow-icon-svg-1,
  .arrow-icon-svg-2 {
    display: none;
  }

  .footer {
    flex-direction: column;
    align-items: center;
  }

  .footer-column {
    margin: 10px 0;
  }
}
